
/* Style the body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Style the root */
#root {
  /* Make it a CSS grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: purple;
  height: 100vh;
}

/* Style the pomodoro-clock */
#pomodoro-clock {
  border: 1px solid purple;
  background-color: white;
  padding: 1em;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1; 
  /* Make a subgrid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  

}

/* Style the pomodoro-clock-title */
#pomodoro-clock-title {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 3;
  text-align: center;
  
}

/* Style the break-container button */
#break-container {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: center;
  font-size: 1.5em;
}

/* Style the break-increment button */
#break-increment {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  color: purple;
  font-size: 2em;
}

/* Style the break-decrement button */
#break-decrement {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  color: purple;
  font-size: 2em;
}

/* Style the session-container*/
#session-container{
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: center;
  font-size: 1.5em;
}


/* Style the session-increment button */
#session-increment {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  color: purple;
  font-size: 2em;
}

/* Style the session-decrement button */
#session-decrement {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  color: purple;
  font-size: 2em;
}

/* Style the timer container */
#timer-container {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: center;
  font-size: 1.5em;
}

/* Style the start or stop button */
#start_stop {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  font-size: 2em;
}

/* Style the reset button */
#reset {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  font-size: 1.5em;
}

/* Style all buttons */
button {
  border-radius: 50%;
}